{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">日志管理</h4>
                        <p class="mb-0">
                            您可以在此管理日志信息。
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive rounded mb-3">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table class="table mb-0 tbl-server-info dataTable no-footer" id="DataTables_Table_0"
                               role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead class="bg-white text-uppercase">
                                <tr class="ligth ligth-data" role="row">
                                <th tabindex="0" rowspan="1"
                                    colspan="1"
                                    style="width: 20px;">ID
                                </th>
                                <th tabindex="0" rowspan="1"
                                    colspan="1"
                                    style="width: 300px;">提问
                                </th>
                                <th tabindex="0" rowspan="1"
                                    colspan="1"
                                    style="width: 50px;">提问时间
                                </th>
                                <th tabindex="0" rowspan="1"
                                    colspan="1"
                                    style="width: 300px;">回答
                                </th>
                                <th tabindex="0" rowspan="1"
                                    colspan="1"
                                    style="width: 50px;">回答时间
                                </th>
                                <th tabindex="0" rowspan="1"
                                    colspan="1"
                                    style="width: 300px;">操作
                                </th>
                            </tr>
                            </thead>
                            <tbody class="ligth-body">
                                {% for querylog in page_obj %}
                                    <tr role="row" class="odd">
                                        <td>{{ querylog.id }}</td>
                                        <td>{{ querylog.query_text }}</td>
                                        <td>{{ querylog.query_timestamp }}</td>
                                        <td>{{ querylog.response_text }}</td>
                                        <td>{{ querylog.response_timestamp }}</td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="查看" href="{% url 'admin:log_detail' %}?id={{ querylog.id }}">
                                                    <i class="ri-eye-line mr-0"></i>
                                                </a>
                                                <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除" href="{% url 'admin:delete_log' %}?id={{ querylog.id }}">
                                                    <i class="ri-delete-bin-line mr-0"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                            共{{ feedback_list.count }}条
                        </div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                            {% if page_obj.has_previous %}
                            <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0"
                                data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous" href="?page={{ page_obj.previous_page_number }}">
                                上一页
                            </a>
                            {% endif %}

                            
                            <span>
                                <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1"
                                tabindex="0" href="#">{{ page_obj.number }}
                                </a>
                            </span>
                            
                            {% if page_obj.has_next %}
                            <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2"
                                                            tabindex="0" id="DataTables_Table_0_next" href="?page={{ page_obj.next_page_number }}">
                                下一页
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
