{% extends 'index.html' %}
{% block content %}
<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">日志详情</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>提问</label>
                                    <div class="dropdown bootstrap-select form-control">
                                        {{ query_log.query_text }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>提问时间</label>
                                    {{ query_log.query_timestamp }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>回答</label>
                                    {{ query_log.response_text }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>回答时间</label>
                                    {{ query_log.response_timestamp }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}